// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 992px) {
	.post_light_gallery img {
		width: 100% !important;
	}
	.code {
		width: 100% !important;
	}
}

/* COLORS */

.green {
	background-color: #4faa5c;
}

.red {
 background-color: #da3f2b;
}

.welcome {
	display: flex;
	height: 75px;
	background-image: url('/assets/pattern.jpg');
	font-size: 18px;
	padding: 15px 25px 15px 25px;
	position: relative;
	.category {
		left: -60px;
	}
}

.welcome-button {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 41%;
}

.post_card {
	display: table;
	position: relative;
	width: 100%;
	padding: 15px 25px 15px 15px;
  border-top: 1px solid #eceef1;
  a {
  	color: #000;
  }
}

.category {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	left: -25px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #fff !important;
  font-size: 18px;
	border-radius: 50%;
}

.table_cell {
	display: table-cell;
	vertical-align: middle;
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;
  width: 60px;
  color: grey;
}

.rating_up, .rating_down {
	cursor: pointer;
}

.post-content {
	padding: 15px 25px 15px 15px;
}

.post_info {
	font-size: 12px;
	a {
		color: #3e4551;
		text-decoration: underline;
	}
}

.code {
	width: 540px;
}

.post_light_gallery li {
	list-style-type: none;
}

.post_light_gallery img {
	width: 500px;
}

.add_comment_to_post {
	margin: 20px 0px;
	padding: 15px 25px 15px 15px;
}
.add_comment_to_post textarea, .comment textarea {
	width: 100%;
}

.comments_post {
	padding: 15px 25px 15px 15px;
	.comment_info {
		font-size: 12px;
	}
}

.comment_answer {
  margin-left: 30px;
  margin-top: 10px;
}

.comment_answer_button {
	color: #449d44;
}

.you_answer_hide_show {
	display: none;
}

.hide_show {
	display: block;
}

.news_parser a:hover {
	text-decoration: none;
	color: #0275d8;
}

.news_parser:hover .parser-click {
	display: inline;
}
.parser-click {
	font-size: 18px;
	cursor: pointer;
}